<div class="bg-car">
  <header class="">
    <app-nav-bar></app-nav-bar>
  </header>
  <div class="flex flex-col items-center filter-container">
    <div class="sub-title">Find cars for sale and for rent near you</div>
    <div class="title">Find Your Perfect Car</div>
    <div class="flex">
      <div class="">
        <button mat-button>All</button>
      </div>
      <div class="">
        <button mat-button>New</button>
      </div>
      <div class="">
        <button mat-button>Used</button>
      </div>
    </div>
    <div class="box-filter">here filter</div>
    <div class="model">Or Browse Featured Model</div>
    <div class="flex">
      <div class="">
        <button mat-button>suv</button>
      </div>
      <div class="">
        <button mat-button>Sedan</button>
      </div>
      <div class="">
        <button mat-button>Hatchback</button>
      </div>
      <div class="">
        <button mat-button>Coupe</button>
      </div>
      <div class="">
        <button mat-button>Hybrid</button>
      </div>
    </div>
  </div>
</div>
