:host {
  color: #ffff;
}

.bg-car {
  background-image: url('/assets/img-main/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 835px;
  width: 100%;
}


.filter-container {
  margin: 200px 0 0 0;
}
.sub-title {
  font-size: 16px;
}

.title {
  font-size: 70px;
}

.box-filter {
  margin: 40px 0 ;
}

.model {
  margin: 40px 0 10px 0;
}
