.x {
  font-size: 40px;
}

.xxx {

  border: black 0.5px solid !important;
  border-radius: 10px;
}

.card {

}

.box-marks {
  background-color: #F9FBFC;
  //background-color: gray;
  height: 400px;
}

.img-box{
  width: 100px;
  height: 100px;
}
