<!--<div *ngIf="cars.length > 0; else loading">-->
<!--  <ul>-->
<!--    <li *ngFor="let car of cars">-->
<!--      <h3>{{ car.brand }} {{ car.name }}</h3>-->
<!--      <p>Year: {{ car.year }} | Price: {{ car.price }}$</p>-->
<!--      <p>Engine: {{ car.engine }}, Transmission: {{ car.transmission }}</p>-->
<!--      <p>Status: {{ car.status }}</p>-->
<!--      <img [src]="car.image" alt="Car Image" width="200" />-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<!--<ng-template #loading>-->
<!--  <p>Loading cars...</p>-->
<!--</ng-template>-->

<div class="box-marks">
  <div class="flex justify-around items-center">
    <div class="x">Explore Our Premium Brands</div>
    <div class="xx"><a>Show All Brands</a></div>
  </div>
  <div class="flex justify-around ">
    <div class="xxx flex flex-col items-center card">
      <div class="img-box"><img src="assets/b1.jpg.svg" alt=""></div>
      <div class="">audi</div>
    </div>
    <div class="xxx flex flex-col items-center card">
      <div class="img-box"><img src="assets/b1.jpg.svg" alt=""></div>
      <div class="">BMW</div>
    </div>
    <div class="xxx flex flex-col items-center card">
      <div class="img-box"><img src="assets/b1.jpg.svg" alt=""></div>
      <div class="">Ford</div>
    </div>
    <div class="xxx flex flex-col items-center card">
      <div class="img-box"><img src="assets/b1.jpg.svg" alt=""></div>
      <div class="">Mercedes Benz</div>
    </div>
    <div class="xxx flex flex-col items-center card">
      <div class="img-box"><img src="assets/b1.jpg.svg" alt=""></div>
      <div class="">Peugeot</div>
    </div>
    <div class="xxx flex flex-col items-center card">
      <div class="img-box"><img src="assets/b1.jpg.svg" alt=""></div>
      <div class="">Volkswagen</div>
    </div>
  </div>
</div>

