<div class="flex items-center justify-around box-nav-bar container-navigation">
  <div class=""><img src="../../../assets/img-main/logo.svg.svg" alt=""></div>
  <div class="flex items-center">
    <ul class="navbar-links flex color-bar">
      <li><a mat-button routerLink="/" class="color-bar">Home</a></li>
      <li><a mat-button routerLink="/about">About</a></li>
      <li><a mat-button routerLink="/about">Services</a></li>
      <li><a mat-button routerLink="/about">About</a></li>
      <li><a mat-button routerLink="/contact">Blog</a></li>
    </ul>
    <div class="navbar-actions flex">
      <div class=""><button mat-button>signIn</button></div>
      <div class=""><button mat-button>submitListing</button></div>
    </div>
  </div>
</div>
